#login {
  height: 87vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#login .colored-btn {
  margin-top: 20px;
  height: 60px;
  width: 150px;
  background-image: linear-gradient(to right, #DC8C37 0%, #E8582E 100%);
  font-size: 28px;
}

#login .colored-btn:hover {
  font-size: 30px;
}

#login .colored-btn:active {
  font-size: 30px;
}
