#login {
  height: 87vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#login .colored-btn {
  margin-top: 20px;
  height: 60px;
  width: 150px;
  background-image: linear-gradient(to right, #DC8C37 0%, #E8582E 100%);
  font-size: 28px;
}

#login .colored-btn:hover {
  font-size: 30px;
}

#login .colored-btn:active {
  font-size: 30px;
}

#login .input {
  display: flex;
  flex-direction: column;
  margin: 7px;
}

#login .item {
  align-self: flex-start;
  font-size: 28px;
  font-weight: bolder;
}

@media only screen and (max-width: 500px) {
  #login .item {
    align-self: flex-start;
    font-size: 20px;
    font-weight: bolder;
  }
}

#login .box {
  width: 400px;
  height: 80px;
  background-color: rgba(23, 13, 2, .05);
  border-radius: 10px;
  border: 1px solid #170D02;
  font-size: 24px;
}

@media only screen and (max-width: 500px) {
  #login .box {
    width: 200px;
    height: 30px;
    background-color: rgba(23, 13, 2, .05);
    border-radius: 10px;
    border: 1px solid #170D02;
    font-size: 12px;
  }
}

#login login[type=text]:focus {
  outline: none;
  border: 2px solid #DC8C37 ;
}

#login .error {
  font-size: 16px;
  color: #E8442E;
}

@media only screen and (max-width: 500px) {
  #login .error {
    font-size: 12px;
  }
}
