#signup {
  height: 87vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#signup .item {
  align-self: flex-start;
  font-size: 28px;
  font-weight: bolder;
}

#signup .input-container {
  display: flex;
  flex-direction: column;
  margin: 7px;
}

#signup .input-box {
  width: 400px;
  height: 80px;
  background-color: rgba(23, 13, 2, .05);
  border-radius: 10px;
  border: 1px solid #170D02;
  font-size: 24px;
}

#signup input[type=text]:focus {
  outline: none;
  border: 2px solid #DC8C37 ;
}

#signup .colored-btn {
  margin-top: 20px;
  height: 60px;
  width: 150px;
  background-image: linear-gradient(to right, #DC8C37 0%, #E8582E 100%);
  font-size: 28px;
}

#signup .colored-btn:hover {
  font-size: 30px;
}

#signup .colored-btn:active {
  font-size: 30px;
}
