#detail-body {
  margin: 32px 96px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media only screen and (max-width: 500px) {
  #detail-body {
    margin: 16px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

#detail-body img {
  object-fit: cover;
}

#detail-body .title {
  font-size: 40px;
  font-weight: bold;
  align-self: flex-start;
  padding: 16px;
}

@media only screen and (max-width: 500px) {
  #detail-body .title {
    font-size: 30px;
    font-weight: bold;
    align-self: flex-start;
  }
}

#detail-body .video-iframe {
  width: 800px;
  height: 420px; 
}

@media only screen and (max-width: 500px) {
  #detail-body .video-iframe {
    width: 300px;
    height: 200px; 
  }
}

#detail-body .thumnail {
  width: 350px;
  padding: 16px;
}

@media only screen and (max-width: 500px) {
  #detail-body .thumnail {
    display: none;
  }
}

#detail-body .tv-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-items: space-between;
  margin-bottom: 64px;
}

@media only screen and (max-width: 500px) {
  #detail-body .tv-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-items: space-between;
    margin-bottom: 24px;
  }
}

#detail-body .video-container {
  margin-left: 100px;
}

@media only screen and (max-width: 500px) {
  #detail-body .video-container {
    margin-left: 0px;
  }
}

#detail-body .btn-container {
  display: flex;
}

#detail-body .monotone_btn {
  background-color: #170D02;
}

#detail-body  .monotone_btn:disabled {
  background-color: rgba(23, 13, 2, .50);
  pointer-events: none;
}

#detail-body .monotone_btn:hover {
  font-size: 24px;
}

@media only screen and (max-width: 500px) {
  #detail-body .monotone_btn:hover {
    font-size: 18px;
  }
}

#detail-body .story-title {
  font-size: 36px;
  text-decoration: underline;
}

#detail-body .story-container {
  width: 60%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
}

@media only screen and (max-width: 500px) {
  #detail-body .story-container {
    width: 90vw;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
  }
}

#detail-body .author-container {
  width: 60%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
}

@media only screen and (max-width: 500px) {
  #detail-body .author-container {
    width: 90vw;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
  }
}

#detail-body .author-title {
  margin-bottom: 16px;
  font-size: 36px;
  text-decoration: underline;
}

#detail-body .author-img {
  width: 400px;
  height: 400px;
}

@media only screen and (max-width: 500px) {
  #detail-body .author-img {
    width: 300px;
    height: 300px;
  }
}

#detail-body .author-description {
  font-size: 24px;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

#detail-body .author-feature-description {
  font-size: 24px;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

#detail-body .author-feature-content {
  font-size: 20px;
  font-weight: 100;
  text-align: start;
  margin-top: 5px;
}

#detail-body .author-content {
  font-size: 20px;
  font-weight: 100;
  text-align: start;
}

#detail-body .cv-container {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media only screen and (max-width: 500px) {
  #detail-body .cv-title {
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

#detail-body .cv-title {
  margin-bottom: 16px;
  font-size: 36px;
  text-decoration: underline;
}

@media only screen and (max-width: 500px) {
  #detail-body .cv-title {
    margin-bottom: 16px;
    margin-left: 26px;
    font-size: 36px;
    text-decoration: underline;
  }
}

#detail-body .cv-sub-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

@media only screen and (max-width: 500px) {
  #detail-body .cv-sub-container {
    display: grid;
    grid-template-columns: auto;
    padding: 0px;
  }
}

#detail-body .charactar-container {
  width: 80%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 500px) {
  #detail-body .charactar-container {
    width: 80%;
    padding: 0px;
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 500px) {
  #detail-body .charactar-container {
    width: 90vw;
    padding: 0px;
    display: flex;
    flex-direction: column;
  }
}

#detail-body .character-img {
  width: 300px;
  height: 300px;
}

#detail-body .voice-actor-img {
  width: 210px;
  height: 210px;
  margin-top: 90px;
}
