#detail-hero {
  background-color: rgba(23, 13, 2, .75);
  width: 100vw;
  height: 600px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 500px) {
  #detail-hero {
    background-color: rgba(23, 13, 2, .75);
    height: 280px;
    width: 100vw;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

#detail-hero .content-container {
  display: flex;
  flex-direction: column;
}

#detail-hero img {
  object-fit: cover;
}

#detail-hero .sub-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

@media only screen and (max-width: 500px) {
  #detail-hero .sub-container {
    display: none;
  }
}

#detail-hero .container {
  display: flex;
  flex-direction: row;
}

#detail-hero .dot-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 16px;
}

#detail-hero .dot-container > * {
  padding: 0px 5px;
}

#detail-hero .fa {
  width: 48px;
  height: 48px;
  margin: 0px 22px;
  color: #170D02;
  border-radius: 100px;
  border: 2px #170D02 solid;
  align-self: center;
}

@media only screen and (max-width: 500px) {
  #detail-hero .fa {
    display: none;
  }
}

#detail-hero .fa:hover {
  width: 52px;
  height: 52px;
  margin: 0px 20px;
}

#detail-hero .dot {
  width: 20px;
  height: 20px;
  color: white;
}

@media only screen and (max-width: 500px) {
  #detail-hero .dot {
    width: 10px;
    height: 10px;
    color: white;
  }
}

#detail-hero .sub-image {
  width: 256px;
  height: 160px;
  object-fit: cover;
  opacity: 0.50;
  padding: 100px 30px 0px;
}

@media only screen and (max-width: 500px) {
  #detail-hero .sub-image {
    display: none;
  }
}

#detail-hero .main-image {
  width: 768px;
  height: 480px;
  object-fit: cover;
}

@media only screen and (max-width: 500px) {
  #detail-hero .main-image {
    width: 280px;
    height: 170px;
    object-fit: cover;
  }
}

@media all and (min-width:500px) {
  #detail-hero .sp-fa {
    display: none;
  }
}

@media only screen and (max-width: 500px) {

  #detail-hero .sp-fa {
    width: 20px;
    height: 20px;
    margin: 0px 16px;
    color: #170D02;
  }
}
