.container {
  background-color: rgba(23, 13, 2, .75);
  height: 70vh;
  color: black;
  display: flex;
  padding: 0px 96px;
}

.video {
  width: 908px;
  height: 560px;
  border: none;
}

.btn-container {
  display: flex;
}

.monotone_btn {
  background-color: #170D02;
}

.monotone_btn:disabled {
  background-color: rgba(23, 13, 2, .50);
  pointer-events: none;
}

.monotone_btn:hover {
  font-size: 24px;
}

.info-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: 32px;
}

.detail_button {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  display: flex;
  justify-content: center;
}

.anime_img {
  width: 304px;
}

.arrow-icon {
  width: 25px;
  height: 25px;
  align-self: center;
}
