#home-hero {
  background-color: rgba(23, 13, 2, .75);
  height: 74vh;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@media only screen and (max-width: 500px) {
  #home-hero {
    background-color: rgba(23, 13, 2, .25);
    height: 320px;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

#home-hero .content-container {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 500px) {
  #home-hero .content-container {
    display: flex;
    flex-direction: column;
  }
}

#home-hero .container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media only screen and (max-width: 500px) {
  #home-hero .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

#home-hero .video-iframe {
  width: 908px;
  height: 560px;
  border: none;
}

@media only screen and (max-width: 500px) {
  #home-hero .video-iframe {
    width: 280px;
    height: 200px;
    border: none;
  }
}

#home-hero .btn-container {
  display: flex;
}

#home-hero .monotone_btn {
  background-color: #170D02;
}

#home-hero  .monotone_btn:disabled {
  background-color: rgba(23, 13, 2, .50);
  pointer-events: none;
}

#home-hero .monotone_btn:hover {
  font-size: 24px;
}

@media only screen and (max-width: 500px) {
  #home-hero .monotone_btn:hover {
    font-size: 18px;
  }
}

#home-hero .info-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
}

@media only screen and (max-width: 500px) {
  #home-hero .info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    display: none;
  }
}

#home-hero .anime_img {
  width: 304px;
}

@media only screen and (max-width: 500px) {
  #home-hero .anime_img {
    width: 25%;
  }
}

#home-hero .detail_button {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  font-size: 18px;
}

@media only screen and (max-width: 500px) {
  #home-hero .detail_button {
    font-size: 16px;
  }
}

#home-hero .detail_button:hover {
  font-size: 20px;
}

@media only screen and (max-width: 500px) {
  #home-hero .detail_button:hover {
    font-size: 18px;
  }
}

#home-hero .detail_button:active {
  font-size: 20px;
}

@media only screen and (max-width: 500px) {
  #home-hero .detail_button:active {
    font-size: 18px;
  }
}

#home-hero .dot-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 16px;
}

#home-hero .dot-container > * {
  padding: 0px 5px;
}

#home-hero .fa {
  width: 48px;
  height: 48px;
  margin: 0px 22px;
  color: #170D02;
  border-radius: 100px;
  border: 2px #170D02 solid;
}

@media all and (min-width:700px) {
  #home-hero .sp-fa {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  #home-hero .fa {
    display: none;
  }

  #home-hero .sp-fa {
    width: 20px;
    height: 20px;
    margin: 0px 22px;
    color: #170D02;
  }
}

@media only screen and (max-width: 500px) {
  #home-hero .fa {
    display: none;
  }

  #home-hero .sp-fa {
    width: 20px;
    height: 20px;
    margin: 0px 22px;
    color: #170D02;
  }
}

#home-hero .fa:hover {
  width: 52px;
  height: 52px;
  margin: 0px 20px;
}

#home-hero .dot {
  width: 20px;
  height: 20px;
  color: white;
}

@media only screen and (max-width: 500px) {
  #home-hero .dot {
    width: 10px;
    height: 10px;
    color: white;
  }
}
