#input {
  display: flex;
  flex-direction: column;
  margin: 7px;
}

#input .item {
  align-self: flex-start;
  font-size: 28px;
  font-weight: bolder;
}

@media only screen and (max-width: 500px) {
  #input .item {
    align-self: flex-start;
    font-size: 20px;
    font-weight: bolder;
  }
}

#input .box {
  width: 400px;
  height: 80px;
  background-color: rgba(23, 13, 2, .05);
  border-radius: 10px;
  border: 1px solid #170D02;
  font-size: 24px;
}

@media only screen and (max-width: 500px) {
  #input .box {
    width: 200px;
    height: 30px;
    background-color: rgba(23, 13, 2, .05);
    border-radius: 10px;
    border: 1px solid #170D02;
    font-size: 12px;
  }
}

#input input[type=text]:focus {
  outline: none;
  border: 2px solid #DC8C37 ;
}
