#tab-block {
  background-color: rgba(23, 13, 2, .10);
  width: 15px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px black solid;
}

#tab-block:hover {
  cursor: pointer;
  background-color: rgba(23, 13, 2, .25);
}

#tab-block:active {
  cursor: pointer;
  background-color: rgba(23, 13, 2, .25);
}
