#bottom-bar-container {
  background-color: white;
  padding: 10px 96px 8px 96px;
  height: 15vh;
  font-size: 30px;
  border-top: 2px black solid;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#bottom-bar-left {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
}

#bottom-bar-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#bottom-bar-right > * {
  padding: 0px 10px;
  align-self: flex-start;
  width: 60px;
  height: 60px;
}

#bottom-bar-left-copyright {
  padding-top: 12px;
  font-size: 20px;
}
