.nav {
  padding: 0px 96px 8px 96px;
  border: black;
  height: 120px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  border-bottom: 1px solid #170D02;
}

.term {
  font-family: 'PT Serif', sans-serif;
  font-weight: bolder;
  font-size: 30px;
}

.logo-title {
  display: flex;
  align-self: flex-end;
}

.menu {
  align-self: flex-end;
}

.upper-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.colored-btn {
  background-image: linear-gradient(to right, #DC8C37 0%, #E8582E 100%);
}

.lower-menu {
  display: flex;
  font-size: 32px;
  font-family: 'PT Serif', sans-serif;
  font-weight: bold;
  text-decoration: underline;
  float: right;
}

.item {
  margin: 5px;
}

.title {
  margin-left: 8px;
  font-size: 50px; 
  font-family: 'PT Serif', sans-serif;
  font-style: italic;
  text-shadow: 0px 4px 2px rgba(23,13,2,0.50);
}
