.nav {
  padding: 0px 96px 8px 96px;
  border: black;
  height: 120px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  border-bottom: 1px solid #170D02;
}

.term {
  font-family: 'PT Serif', sans-serif;
  font-weight: bolder;
  font-size: 30px;
}

.menu {
  align-self: flex-end;
}

.upper-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.colored-btn {
  background-image: linear-gradient(to right, #DC8C37 0%, #E8582E 100%);
}

.lower-menu {
  display: flex;
  font-size: 32px;
  font-family: 'PT Serif', sans-serif;
  font-weight: bold;
  text-decoration: underline;
  float: right;
}

.lower-menu > * {
  padding: 0px 3px;
}
#top-logo-container {
  display: flex;
  align-items: flex-end;
}
