#top-nav {
  padding: 0px 96px 8px 96px;
  border: black;
  height: 104px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  border-bottom: 1px solid #170D02;
}

@media only screen and (max-width: 500px) {
  #top-nav {
    padding: 0px 8px 8px 8px;
    border: black;
    height: 60px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    border-bottom: 1px solid #170D02;
  }
}

#top-nav .container {
  display: flex;
  align-items: flex-end;
}

#top-nav .container:hover {
  cursor: pointer;
}

#top-nav .container:active {
  cursor: pointer;
}


#top-nav .menu {
  align-self: flex-end;
}

@media only screen and (max-width: 500px) {
  #top-nav .menu {
    display: none;
  }
}

#top-nav .upper-menu {
  /* TODO: show if when you implement login function */
  display: none;
  justify-content: center;
  align-items: center;
}

#top-nav .greet {
  font-family: 'PT Serif', sans-serif;
  font-weight: bolder;
  font-size: 30px;
}

@media only screen and (max-width: 500px) {
  #top-nav .greet {
    font-family: 'PT Serif', sans-serif;
    font-weight: bolder;
    font-size: 25px;
  }
}

#top-nav .colored-btn {
  background-image: linear-gradient(to right, #DC8C37 0%, #E8582E 100%);
}

#top-nav .lower-menu {
  display: flex;
  font-size: 32px;
  font-family: 'PT Serif', sans-serif;
  font-weight: bold;
  text-decoration: underline;
  float: right;
}

@media only screen and (max-width: 500px) {
  #top-nav .lower-menu {
    display: flex;
    font-size: 25px;
    font-family: 'PT Serif', sans-serif;
    font-weight: bold;
    text-decoration: underline;
    float: right;
  }
}

#top-nav .lower-menu > * {
  padding: 0px 7px;
}

@media only screen and (max-width: 500px) {
  #top-nav .lower-menu > * {
    display: none;
  }
}

#top-nav .dropdown {
  position: relative;
}

#top-nav .dropdown-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#top-nav .dropdown-container > *{
  width: 100px;
  margin-left: 22px;
  align-self: flex-end;
  font-size: 22px;
  border-radius: 2px;
  background-color: #DC8C37;
  border: 1px #170D02 solid;
  opacity: 0.50;
}

@media only screen and (max-width: 500px) {
  #top-nav .dropdown-container > *{
    width: 100px;
    margin-left: 22px;
    align-self: flex-end;
    font-size: 18px;
    border-radius: 2px;
    background-color: #DC8C37;
    border: 1px #170D02 solid;
    opacity: 0.50;
  }
}

#top-nav .dropdown > *:hover {
  cursor: pointer;
}

#top-nav .dropdown > *:active {
  cursor: pointer;
}

#top-nav .dropdown-container > *:hover{
  opacity: 0.80;
}

#top-nav .dropdown-container > *:active{
  opacity: 0.80;
}

@media all and (min-width:500px) {
  #top-nav .hamburger-menu-container {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  #top-nav .hamburger-menu-content {
    display: none;
    background-color: rgba(23, 13, 2, .15);
    top: 50px;
    right: 0px;
    position: relative;
  }

  #top-nav .hamburger-menu-icon {
    padding-right: 10px;
    padding-top: 15px;
    color: #170D02;
    position: absolute;
    right: 0px;
    top: 10px;
  }

  #top-nav .hamburger-menu-container {
    width: 100px;
    display: flex;
    flex-direction: column;
  }

  .hamburger-menu-content-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  #top-nav .dropdown {
    display: flex;
    justify-content: flex-start;
  }
  
  #top-nav .dropdown-container {
    display: flex;
    width: 100px;
    margin-left: 0px;
    font-size: 18px;
    border-radius: 2px;
    background-color: #DC8C37;
    border: 1px #170D02 solid;
  }
  
  #top-nav .dropdown-container > *{
    display: inline;
    font-size: 16px;
    border-radius: 2px;
    background-color: #DC8C37;
    border: 1px #170D02 solid;
    opacity: 0.50;
  }

  #top-nav .dropdown-item {
    /* TODO: show if when you implement login function */
    display: none;
    font-weight:600;
  }
}
